@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<DiaryEntry>
<h1>This is the diary entry</h1>
<div class="container mb-4">
    <div class="row">
        <div class="col-6">
            <a class="btn btn-primary" asp-area=""  asp-controller="DiaryEntries" asp-action="Create">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-plus" viewBox="0 0 16 16">
                    <path d="M8.5 6a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V10a.5.5 0 0 0 1 0V8.5H10a.5.5 0 0 0 0-1H8.5z" />
                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1" />
                </svg>
                Create New Diary Entry
            </a>
        </div>
        <div class="col-6 text-end">Diary Entires</div>
    </div>
</div>


<table>
    <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Date</th>
        <th>Actions</th>
    </tr>
    @foreach(var entry in Model)
    {
        <tr>
            <td>@entry.Title</td>
            <td>@entry.Content</td>
            <td>@entry.Created</td>
            <td>

                <a asp-area="" asp-controller="DiaryEntries" asp-action="Edit" asp-route-id="@entry.Id" class="btn btn-success">Edit</a>
                <a asp-area="" asp-controller="DiaryEntries" asp-action="Delete" asp-route-id="@entry.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
</table>